@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-stone-50 text-stone-900;
        -webkit-tap-highlight-color: transparent;
    }
}

/* Custom Utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Custom animations for mobile feel */
.slide-up {
    animation: slide-up 0.3s ease-out;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}